//메인에서만 공통요소
@mixin after {
  display: block;
  content: "";
  clear: both;
}

@mixin dot {
  content: "";
  width: 3px;
  height: 3px;
  display: inline-block;
  background: #ccc;
  margin-left: 7px;
  vertical-align: 3px;
  border-radius: 50%;
}

@mixin dot_g {
  background-color: #1ace61;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: top;
  content: "";
  margin-right: 8px;
  vertical-align: 2px;
}

@mixin img_after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  opacity: 0.1;
}

$recipe_color: #ebaa00;

.banner {
  a {
    display: block;
    position: relative;

    &::after {
      @include img_after();
    }
  }

  img {
    width: 100%;
  }
}

.left_area {
  width: 750px;
  float: left;
}

.sc_news {
  margin-top: 12px;

  .group_issue {
    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    font-size: 13px;

    .issue_area {
      float: left;

      .media {
        float: left;
        position: relative;
        max-width: 89px;
        padding-right: 12px;

        font-size: 13px;
        color: #000;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: -0.3px;

        &::after {
          display: inline-block;
          width: 7px;
          height: 11px;
          background-position: -444px -317px;
          background-repeat: no-repeat;
          vertical-align: top;
          content: "";
          margin-left: 6px;
          vertical-align: -1px;
        }
      }
    }

    .cate_area {
      float: right;
      font-weight: bold;

      a {
        margin: 0 4px 0 7px;

        &.home {
          color: #3565c9;

          &::after {
            @include dot();
          }
        }
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .group_title {
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;

    .title {
      float: left;
      font-weight: bold;

      &::before {
        display: inline-block;
        width: 27px;
        height: 24px;
        background-position: -336px -345px;
        background-repeat: no-repeat;
        vertical-align: top;
        content: "";
        margin: -6px 1px 0 0;
      }

      &::after {
        display: inline-block;
        width: 7px;
        height: 11px;
        background-position: -444px -317px;
        background-repeat: no-repeat;
        content: "";
        margin-left: 6px;
        vertical-align: -1px;
      }
    }

    .filter_area {
      float: left;
      font-size: 14px;
      color: #000;
      margin-left: 10px;

      a {
        font-size: 14px;
        color: #505050;
        text-decoration: none;

        &.on {
          &::after {
            @include dot();
          }
        }

        &.all {
          color: #000;
          font-weight: 700;
          margin-left: 7px;
        }
      }
    }

    .set_area {
      float: right;

      a {
        float: left;
        padding: 0 9px;

        i {
          display: inline-block;
          width: 15px;
          height: 15px;
          background-position: 0 -419px;
          background-repeat: no-repeat;
          vertical-align: top;
          opacity: 0.7;
          filter: alpha(opacity=70);
          margin: -1px 0 1px;
        }
      }
    }

    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  .group_list {
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;

    a.prev{
      position: absolute;
    left: -27px;
    z-index: 10;
        top: 109px;
      i{
    display: inline-block;
    width: 44px;
    height: 44px;
    background-position: 0 -299px;
    background-repeat: no-repeat;
    vertical-align: top;
      }
    }
    a.next{
      position: absolute;
    right: -13px;
    z-index: 10;
    top: 109px;
      i{
display: inline-block;
    width: 44px;
    height: 44px;
    background-position: -224px -158px;
    background-repeat: no-repeat;
    vertical-align: top;
      }
    }

    .list {
      li {
        float: left;
        width: calc(100% / 6);
        text-align: center;
        height: 65px;

        a {
          display: block;
          padding: 23px 0 22px;

          img {
            height: 20px;
          }
        }
      }

      &::after {
        content: "";
        clear: both;
        display: block;
      }
    }

    .vt_line {
      position: absolute;
      width: 1px;
      height: 100%;
      background: #dae1e6;
      top: 0;

      &.vt01 {
        left: 124px;
      }

      &.vt02 {
        left: 248px;
      }

      &.vt03 {
        left: 372px;
      }

      &.vt04 {
        left: 497px;
      }

      &.vt05 {
        left: 622px;
      }
    }

    .hr_line {
      position: absolute;
      width: 100%;
      height: 1px;
      background: #dae1e6;
      left: 0;

      &.hr01 {
        top: 65px;
      }

      &.hr02 {
        top: 130px;
      }

      &.hr03 {
        top: 195px;
      }
    }
  }
}

.sc_themepost {
  padding: 35px 0 27px;
  letter-spacing: -0.25px;

  .group_title {
    overflow: hidden;
    padding-bottom: 17px;

    .title_area {
      float: left;

      .title {
        font-size: 14px;
        color: #000;
        font-weight: bold;
      }

      .dsc {
        margin-left: 8px;
        color: grey;
      }
    }

    .info_area {
      float: right;

      .info {
        color: grey;

        strong {
          color: #000;
        }
      }

      a {
        position: relative;
        margin-left: 14px;
        color: #505050;

        &::before {
          display: inline-block;
          width: 11px;
          height: 11px;
          background-position: -444px -168px;
          background-repeat: no-repeat;
          vertical-align: top;
          content: "";
          margin-right: 4px;
          vertical-align: -1px;
          opacity: 0.7;
        }
      }
    }
  }

  .group_cate {
    position: relative;
    background-color: #fff;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      border: 1px solid #dae1e6;
    }

    a.prev {
      top: 6px;
      left: -23px;
      position: absolute;
      z-index: 10;

      i {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-position: -128px -345px;
        background-repeat: no-repeat;
        vertical-align: top;
      }
    }

    a.next {
      top: 6px;
      right: -18px;
      position: absolute;
      z-index: 10;

      i {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-position: -86px -345px;
        background-repeat: no-repeat;
        vertical-align: top;
      }
    }

    .group_theme {
      ul {
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        white-space: nowrap;

        li {
          width: calc(750px / 8);
          position: relative;
          display: inline-block;
          z-index: 1;
          vertical-align: top;

          a {
            display: block;
            border-right: 1px solid #dae1e6;
            font-size: 13px;
            line-height: 49px;
            font-weight: 700;
            text-align: center;

            &.on {
              background-color: $recipe_color;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .group_list {
    .list.list01 {
      padding: 18px 0;
      border-bottom: 1px solid #e4e8eb;

      .content1 {
        float: left;
        width: 364px;

        .img {
          overflow: hidden;
          display: block;
          position: relative;
          width: 364px;
          height: 180px;

          img {
            width: 364px;
            height: 180px;
          }
        }

        .info {
          display: block;
          padding: 16px 18px 0 0;
          text-decoration: none;

          em {
            color: $recipe_color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            font-weight: 700;
          }

          strong {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            margin-top: 6px;
            font-size: 13px;
            font-weight: bold;
          }

          span {
            display: block;
            overflow: hidden;
            max-height: 42px;
            line-height: 21px;
            text-overflow: ellipsis;
            margin-top: 5px;
            font-size: 13px;
            color: #404040;
          }

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            color: #505050;
          }
        }
      }

      .content2 {
        float: right;
        width: 364px;

        .img {
          overflow: hidden;
          display: block;
          position: relative;
          width: 364px;
          height: 180px;

          img {
            width: 364px;
            height: 180px;
          }
        }

        .info {
          display: block;
          padding: 16px 18px 0 0;
          text-decoration: none;

          em {
            color: $recipe_color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            font-weight: 700;
          }

          strong {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            margin-top: 6px;
            font-size: 13px;
            font-weight: bold;
          }

          span {
            display: block;
            overflow: hidden;
            max-height: 42px;
            line-height: 21px;
            text-overflow: ellipsis;
            margin-top: 5px;
            font-size: 13px;
            color: #404040;
          }

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
          }
        }
      }

      &::after {
        @include after();
      }
    }

    .list.list02 {
      padding: 18px 0;
      border-bottom: 1px solid #e4e8eb;

      ul {
        li {
          overflow: hidden;

          &+li {
            margin-top: 18px;
          }

          a.img {
            width: 170px;
            height: 114px;
            float: left;
            display: block;
            position: relative;
            margin-right: 21px;

            img {
              width: 100%;
            }

            &::after {
              @include img_after()
            }
          }

          .des {
            overflow: hidden;
            display: block;
            padding: 4px 47px 0 0;

            em {
              color: $recipe_color;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              font-weight: 700;
            }

            strong {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              height: auto;
              margin-top: 2px;
              font-weight: bold;
            }

            p {
              overflow: hidden;
              max-height: 40px;
              line-height: 20px;
              text-overflow: ellipsis;
              margin-top: 2px;
              font-size: 13px;
              color: #404040;
            }

            .source_box {
              display: inline-block;
              overflow: hidden;
              max-width: 100%;
              margin-top: 2px;
              line-height: 20px;
              vertical-align: top;

              .source {
                float: left;
                display: block;
                color: #505050;
                text-overflow: ellipsis;
                white-space: nowrap;

                &::after {
                  @include dot();
                }
              }

              .date {
                float: left;
                color: grey;
                margin-left: 7px;
              }
            }
          }
        }
      }
    }

    .list.list03 {
      padding: 18px 0;
      border-bottom: 1px solid #e4e8eb;

      ul {
        li {
          overflow: hidden;

          &+li {
            margin-top: 18px;
          }

          a.img {
            width: 170px;
            height: 114px;
            float: left;
            display: block;
            position: relative;
            margin-right: 21px;

            img {
              width: 100%;
            }

            &::after {
              @include img_after()
            }
          }

          .des {
            overflow: hidden;
            display: block;
            padding: 4px 47px 0 0;

            em {
              color: $recipe_color;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              font-weight: 700;
            }

            strong {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              height: auto;
              margin-top: 2px;
              font-weight: bold;
            }

            p {
              overflow: hidden;
              max-height: 40px;
              line-height: 20px;
              text-overflow: ellipsis;
              margin-top: 2px;
              font-size: 13px;
              color: #404040;
            }

            .source_box {
              display: inline-block;
              overflow: hidden;
              max-width: 100%;
              margin-top: 2px;
              line-height: 20px;
              vertical-align: top;

              .source {
                float: left;
                display: block;
                color: #505050;
                text-overflow: ellipsis;
                white-space: nowrap;

                &::after {
                  @include dot();
                }
              }

              .date {
                float: left;
                color: grey;
                margin-left: 7px;
              }
            }
          }
        }
      }
    }
  }

  .group_funding {
    .title {
      padding-top: 24px;
      line-height: 25px;
      position: relative;
      font-weight: 700;
      display: block;
      font-size: 14px;
      color: #000;

      &::after {
        display: inline-block;
        width: 7px;
        height: 11px;
        background-position: -444px -304px;
        background-repeat: no-repeat;
        vertical-align: top;
        content: "";
        margin-left: 6px;
        vertical-align: 0;
      }
    }

    .funding_wrap {
      position: relative;

      a.prev {
        top: 66px;
        position: absolute;
        left: -22px;
        z-index: 10;


        i {
          display: inline-block;
          width: 40px;
          height: 40px;
          background-position: -44px -345px;
          background-repeat: no-repeat;
          vertical-align: top;

        }
      }

      ul {
        padding: 18px 0 17px;
        position: relative;
        overflow: hidden;

        li {
          float: left;

          &+li {
            margin-left: 27px;
          }

          a {
            width: 232px;
            height: 205px;
            overflow: hidden;
            display: block;
            position: relative;

            img {
              width: 100%;
              margin-bottom: 12px;

              &::after {
                @include img_after()
              }
            }

            strong {
              overflow: hidden;
              max-height: 40px;
              line-height: 20px;
              text-overflow: ellipsis;
              font-size: 13px;
              font-weight: bold;
            }

            .source_box {
              max-width: 100%;
              margin-top: 3px;
              vertical-align: top;
              overflow: hidden;

              .source {
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                float: left;

                &::after {
                  @include dot();
                }
              }

              .des {
                color: grey;
                margin-left: 7px;

                em {
                  color: $recipe_color;
                }
              }
            }
          }
        }
      }
    }

  }

  .group_more {
    position: relative;
    padding-top: 18px;
    margin-bottom: 42px;
    border-bottom: 1px solid #e4e8eb;

    .btn {
      position: absolute;
      top: 0;
      left: 334px;
      color: #505050;
      cursor: pointer;

      i {
        width: 42px;
        height: 42px;
        background-position: 0 -345px;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto 3px;
      }
    }
  }
}

.right_area {
  width: 350px;
  float: right;
}

.sc_login {
  padding: 16px 16px 12px 17px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;

  .login_msg {
    padding-left: 3px;
    color: grey;
  }

  .login_btn {
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;

    i {
      display: inline-block;
      width: 60px;
      height: 12px;
      background-position: -138px -330px;
      background-repeat: no-repeat;
      vertical-align: top;
      margin: 2px 5px 0 0;
    }
  }

  .login_link {
    margin: 14px 8px 0 4px;

    a {
      float: left;
      color: #404040;

      &.link_id {
        &::before {
          display: inline-block;
          width: 10px;
          height: 14px;
          background-position: -444px -98px;
          background-repeat: no-repeat;
          vertical-align: top;
          content: '';
          margin: -1px 3px 1px 0px;
        }

        &::after {
          @include dot()
        }
      }

      &.link_find {
        &::before {
          background-color: #d7dce0;
          display: inline-block;
          width: 3px;
          height: 3px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          vertical-align: top;
          content: '';
          margin: 0 5px 0 2px;
          vertical-align: 3px;
        }
      }

      &.link_join {
        float: right;

        &::before {
          display: inline-block;
          width: 11px;
          height: 11px;
          background-position: -444px -129px;
          background-repeat: no-repeat;
          vertical-align: top;
          content: '';
          margin: 2px 5px 0 0;
        }
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.sc_cardnews {
  position: relative;
  height: 47px;
  margin: 12px 0;
  border: 1px solid #dae1e6;
  letter-spacing: -0.25px;
  padding-right: 67px;

  .link_wrap {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 14px 0 13px 16px;

    .issue {
      float: left;
      height: 18px;
      padding: 0 7px;
      margin-right: 8px;
      border: 1px solid #202020;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      font-size: 11px;
      line-height: 18px;
      color: #202020;
      font-weight: 700;
      vertical-align: top;
    }

    .news {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      font-size: 13px;
      line-height: 20px;
      color: #404040;
    }
  }
}

.navi {
  position: absolute;
  top: 11px;
  right: 10px;
  overflow: hidden;

  a {
    float: left;
    background-color: #fff;
    border: 1px solid #e4e8eb;

    &.prev {
      margin-right: -1px;

      &::before {
        display: inline-block;
        width: 6px;
        height: 9px;
        background-position: -408px -66px;
        background-repeat: no-repeat;
        vertical-align: top;
        content: "";
        margin: 7px 8px 6px;
      }
    }

    &.next {
      &::before {
        display: inline-block;
        width: 6px;
        height: 9px;
        background-position: -444px -421px;
        background-repeat: no-repeat;
        vertical-align: top;
        content: "";
        margin: 7px 8px 6px;
      }
    }
  }
}

.sc_shopping {
  margin-top: 15px;

  .group_title {
    padding: 12px 0 13px;
    line-height: 17px;

    h2 {
      float: left;
      margin: 2px 0 0 1px;
      font-size: 13px;
      line-height: 17px;
      color: #000;

      &::before {
            display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -26px -54px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-right: 4px;
    vertical-align: -3px;
      }

      &::after {
        display: inline-block;
        width: 5px;
        height: 9px;
        background-position: -43px -54px;
        background-repeat: no-repeat;
        vertical-align: top;
        content: "";
        margin-left: 7px;
        vertical-align: 0;
      }
    }

    ul {
      float: right;
      font-size: 13px;
      font-weight: 700;

      li {
        float: left;

        &+li {
          margin-left: 12px;
        }

        .on {
          border-color: #19ce60;
          color: #03c75a;
          display: block;
          padding: 0 1px;
          border-bottom: 2px solid;
        }
      }
    }

    &::after {
      @include after();
    }
  }

  .contents {
    overflow: hidden;
    height: 1493px;
    border: 1px solid #e4e8eb;

    .group_mall {
      overflow: hidden;
      padding: 12px 4px 11px 10px;
      background-color: #f7f9fa;
      border-bottom: 1px solid #dae1e6;

      .mall_list {
        a {
          float: left;
          line-height: 23px;
          color: #404040;

          &+a {
            margin-left: 7px;
          }

          &:not(:last-child)::after {
            @include dot();
          }
        }

        &::after {
          @include after()
        }
      }
    }

    .group_goods {
      position: relative;
      padding: 55px 8px 22px;

      .goods_control {
        top: 13px;
        right: 8px;
        position: absolute;
        text-align: right;

        .num_box {
          float: left;
          line-height: 29px;
          color: grey;
          margin-right: 10px;

          em {
            margin-right: 4px;
            color: #202020;
            font-weight: 700;
          }
        }

        .navi_box {
          overflow: hidden;

          a {
            float: left;
            background-color: #fff;
            border: 1px solid #dae1e6;

            &.prev {
              &::before {
                display: inline-block;
                width: 5px;
                height: 9px;
                background-position: -71px -54px;
                background-repeat: no-repeat;
                vertical-align: top;
                content: "";
                margin: 9px 12px 9px 10px;
              }
            }

            &.next {
              margin-left: -1px;

              &::before {
                display: inline-block;
                width: 5px;
                height: 9px;
                background-position: -57px -54px;
                background-repeat: no-repeat;
                vertical-align: top;
                content: "";
                margin: 9px 10px 9px 12px;
              }
            }
          }
        }
      }

      .goods_list {
        overflow: hidden;
        margin-right: -5px;

        li {
          float: left;
          width: 33.33%;
          margin-bottom: 5px;

          a {
            .thumb_box {
              height: 183px;

              img {
                height: 146px;
                margin-bottom: 3px;

                &::after {
                  @include img_after()
                }
              }

              strong {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                line-height: 16px;
                text-align: center;
                font-weight: bold;
              }

              span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                line-height: 16px;
                text-align: center;
              }
            }

          }
        }
      }

      .goods_page {
        margin-top: 18px;
        text-align: center;

        .navi_box {
          a {
            display: inline-block;
            background-color: #fff;
            border: 1px solid #dae1e6;
            vertical-align: top;

            &.prev {
              &::before {
                display: inline-block;
                width: 5px;
                height: 9px;
                background-position: -71px -54px;
                background-repeat: no-repeat;
                vertical-align: top;
                content: "";
                margin: 9px 12px 9px 10px;
              }
            }

            &.next {
              &::before {
                display: inline-block;
                width: 5px;
                height: 9px;
                background-position: -57px -54px;
                background-repeat: no-repeat;
                vertical-align: top;
                content: "";
                margin: 9px 10px 9px 12px;
              }
            }
          }

          .num {
            display: inline-block;
            min-width: 61px;
            line-height: 29px;
            color: grey;
            text-align: center;
            vertical-align: top;
          }
        }
      }
    }

    .group_news {
      margin: 0 8px;
      padding: 19px 0 17px;
      border-top: 1px solid #e4e8eb;

      .news_title {
        position: relative;
        padding-left: 5px;

        h2 {
          font-size: 13px;
          font-weight: bold;
        }

        .news_control {
          position: absolute;
          top: -8px;
          right: 0;
          text-align: right;

          .num_box {
            float: left;
            line-height: 29px;
            color: grey;
            margin-right: 10px;

            em {
              margin-right: 4px;
              color: #202020;
              font-weight: 700;
            }
          }

          .navi_box {
            overflow: hidden;
            margin-left: 7px;

            a {
              float: left;
              background-color: #fff;
              border: 1px solid #dae1e6;

              &.prev {
                &::before {
                  display: inline-block;
                  width: 5px;
                  height: 9px;
                  background-position: -71px -54px;
                  background-repeat: no-repeat;
                  vertical-align: top;
                  content: "";
                  margin: 9px 12px 9px 10px;
                }
              }

              &.next {
                margin-left: -1px;

                &::before {
                  display: inline-block;
                  width: 5px;
                  height: 9px;
                  background-position: -57px -54px;
                  background-repeat: no-repeat;
                  vertical-align: top;
                  content: "";
                  margin: 9px 10px 9px 12px;
                }
              }
            }
          }
        }

        &::after {
          @include after()
        }
      }

      .news_list {
        margin: 13px 5px 0;
        line-height: 28px;

        li {
          a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            color: #202020;

            em {
              margin-right: 13px;
              color: #000;
              font-weight: 700;

              &::before {
                @include dot_g();
              }
            }
          }
        }
      }
    }

    .group_ad {
      margin: 0 8px;
      padding: 19px 0 17px;
      border-top: 1px solid #e4e8eb;
      position: relative;

      .ad_title {
        overflow: hidden;
        line-height: 29px;

        .ad_cate {
          float: left;


          a {
            display: inline-block;
            vertical-align: 0;
            font-size: 13px;
            line-height: 17px;
            font-weight: 500;
            letter-spacing: -0.5px;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            margin: 0 5px;

            &.on {
              color: #03c75a;
              font-weight: 700;
              border-color: #19ce60;
              display: inline-block;
              vertical-align: 0;
              font-size: 13px;
              line-height: 17px;
              letter-spacing: -.5px;
              border-bottom: 2px solid;

            }
          }
        }

        .ad_control {
          float: right;

          .num_box {
            float: left;
            line-height: 29px;
            color: grey;
            margin-right: 10px;

            em {
              margin-right: 4px;
              color: #202020;
              font-weight: 700;
            }
          }

          .navi_box {
            overflow: hidden;
            margin-left: 7px;

            a {
              float: left;
              background-color: #fff;
              border: 1px solid #dae1e6;

              &.prev {
                &::before {
                  display: inline-block;
                  width: 5px;
                  height: 9px;
                  background-position: -71px -54px;
                  background-repeat: no-repeat;
                  vertical-align: top;
                  content: "";
                  margin: 9px 12px 9px 10px;
                }
              }

              &.next {
                margin-left: -1px;

                &::before {
                  display: inline-block;
                  width: 5px;
                  height: 9px;
                  background-position: -57px -54px;
                  background-repeat: no-repeat;
                  vertical-align: top;
                  content: "";
                  margin: 9px 10px 9px 12px;
                }
              }
            }
          }
        }
      }

      .ad_list {
        margin: 13px 5px 0;

        ul {
          overflow: hidden;
          margin-right: -5px;

          li {
            float: left;
            width: 50%;

            a {
              display: block;
              margin-right: 5px;

              img {
                object-fit: cover;
                height: 163px;
                width: 100%;

                &::after {
                  @include img_after()
                }
              }

              em {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                line-height: 16px;
                text-align: center;
                font-weight: bold;
                margin-top: 6px;
              }
            }
          }
        }
      }
    }
  }
}

// footer
.footer_inner {
  width: 1130px;
  padding: 0 30px 92px;
  margin: 0 auto;

  .banner_area {
    overflow: hidden;
    padding: 24px 0;
    border-bottom: 1px solid #e4e8eb;

    .data {
      float: left;
      width: 33.3%;

      .img_wrap {
        overflow: hidden;
        position: relative;
        float: left;
        width: 160px;
        height: 86px;

        img {
          width: 100%;
        }
      }

      .content {
        overflow: hidden;
        height: 86px;
        padding: 2px 2px 0 16px;
        font-size: 12px;
        line-height: 1.25;
        box-sizing: border-box;
        text-align: left;

        em {
          display: block;
          overflow: hidden;
          font-weight: 700;
          letter-spacing: -0.25px;
          color: #58c464;
          white-space: nowrap;
        }

        strong {
          display: block;
          margin-top: 6px;
          font-size: 13px;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: -0.26px;
          color: #242424;
          white-space: nowrap;
        }

        div {
          overflow: hidden;
          line-height: 18px;
          letter-spacing: -0.25px;
          color: #424242;
          white-space: nowrap;
        }
      }
    }
  }

  .notice_area {
    overflow: hidden;
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;

    h2 {
      float: left;
      margin-right: 13px;
      color: #202020;
      font-weight: bold;
    }

    .link_all {
      float: right;
      font-weight: 700;
      color: #202020;

      &::after {
        display: inline-block;
        width: 8px;
        height: 12px;
        background-position: -444px -268px;
        background-repeat: no-repeat;
        vertical-align: top;
        content: "";
        margin-left: 10px;
        vertical-align: -2px;
      }
    }
  }

  .service_area {
    overflow: hidden;
    border-bottom: 1px solid #e4e8eb;
    position: relative;

    .partner {
      float: left;
      width: 780px;
      padding: 20px 0;

      .partner_box {
        overflow: hidden;

        &+.partner_box {
          margin-top: 9px;
        }

        .title {
          float: left;
          width: 87px;
          font-weight: bold;
        }

        a {
          float: left;
          color: #777;

          &+a::before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 11px;
            margin: 0 8px;
            background-color: #e4e8eb;
            vertical-align: -1px;
          }
        }
      }
    }
      .service {
            overflow: hidden;
            float: right;
            width: 350px;
            padding: 28px 0;

            .data {
                overflow: hidden;
                float: left;
                max-width: 150px;

                a {
                    float: right;
                    margin-left: 12px;
                    width: 48px;
                    height: 48px;

                    img {
                        width: 100%;
                    }
                }

                .info {
                    float: left;

                    strong {
                        font-weight: bold;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        padding-top: 2px;
                    }

                    a {
                        color: grey;
                    }
                }

                &+.data {
                    margin-left: 50px;
                }
            }

        }
  }

  .corp_area {
    padding-top: 25px;

    ul {
      overflow: hidden;
      float: left;
      margin-right: 13px;

      li {
        float: left;
        color: #777;

        &+li::before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 11px;
          margin: 0 8px;
          background-color: #e4e8eb;
          vertical-align: -1px;
        }
      }
    }

    address {
      float: left;
      color: #202020;
      font-weight: 700;
    }
  }
}
