// 큰틀을 구성한다 헤더, 푸터, 메인의 큰틀 구성
@import "./reset.css";
@import "./common.css";

$bs-width: 1130px;
$green: #19ce60;

body {
  font-size: 12px;
  line-height: 16px;
}

header {
  .logo_area {
    width: $bs-width;
    margin: 0 auto;
    height: 160px;
    position: relative;
  }

  .logo {
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;

    a {
      display: block;
      height: 100%;
    }
  }

  .search_area {
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid $green;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 268px;
    margin-top: -28px;

    .search_txt {
      outline: 0;
      border: 0;
      width: 444px;
      height: 52px;
      padding: 0;
      font-size: 18px;
      font-weight: bold;
      padding: 13px 15px;
      box-sizing: border-box;
    }

    .search_btn {
      position: absolute;
      top: -2px;
      right: 0;
      width: 56px;
      height: 56px;
      background: $green;
      border: 0;
      padding: 0;

      i {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: top;
        background-position: -420px 0;
      }
    }
  }

  .quick_area {
    position: absolute;
    top: 12px;
    right: 27px;

    a {
      float: left;
      font-size: 11px;

      &.link_start {
        &::after {
          content: "";
          width: 26px;
          height: 26px;
          vertical-align: top;
          display: inline-block;
          background-position: -308px -345px;
          margin: -3px 0 0 3px;
        }
      }

      &.link_junior {
        display: inline-block;
        width: 60px;
        height: 10px;
        background-position: -262px -330px;
        background-repeat: no-repeat;
        vertical-align: top;
        margin: 3px;
      }

      &.link_bin {
        display: inline-block;
        width: 34px;
        height: 11px;
        background-position: -369px -299px;
        background-repeat: no-repeat;
        vertical-align: top;
        margin: 3px 3px 2px;
      }
    }

    .bar {
      float: left;
      width: 1px;
      height: 10px;
      background: #ccc;
      margin: 3px 7px;
    }
  }

  .menu_area {
    border-top: 1px solid #e4e8eb;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);

    .wrap {
      width: $bs-width;
      margin: 0 auto;

      &::after {
        content: "";
        clear: both;
        display: block;
      }
    }

    .gnb {
      float: left;
      color: $green;
      font-size: 15px;
      font-weight: bold;
      line-height: 52px;

      li {
        float: left;

        &+li {
          margin-left: 12px;
        }

        &::after {
          content: "";
          clear: both;
          display: block;
        }
      }
    }
    .weather_area{
      float: right;
    }
  }
}

main {
  width: $bs-width;
  margin: 0 auto;
  padding: 20px 30px;

  &::after {
    content: "";
    /* 빈칸생성 */
    display: block;
    /* 빈칸이 인라인이라 블럭처리 */
    clear: both;
    /* 양쪽해제 */
  }
}

footer {
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
}